<div class="bootstrap-wrapper">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" > -->
           <mat-grid-list cols="2">
            <mat-grid-tile>


                    <!-- here you we use height and padding to adjust the img -->
                    <img src="../../../assets/signup.png">




              </mat-grid-tile>

              <mat-grid-tile>
                <!-- here we print data mens data interpolation -->
                 <!-- {{user | json}} -->

                <form *ngIf="user" (ngSubmit)="formSubmit()" enctype="multipart/form-data">
                    <!-- username foeld -->
                    <h1 >  Update Your Profile Here!!</h1>
                    
                      <!-- firstname -->
                      <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required
                        [(ngModel)] = "user.firstName"
                        name = "firstName"
                        matInput placeholder="enter first name">
                      </mat-form-field>

                      <!-- lastname -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required
                        [(ngModel)] = "user.lastName"
                        name = "lastName"
                         matInput placeholder="enter last name">
                      </mat-form-field>

                      <!-- email -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input required
                        [(ngModel)] = "user.email"
                        name = "email"
                        type="email"
                        matInput placeholder="enter email">
                      </mat-form-field>

                      <!-- phone -->
                      <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input required
                        [(ngModel)] = "user.phone"
                        name = "phone"
                        type="tel"
                        matInput placeholder="enter phone">
                      </mat-form-field>
                      
                    <!-- password field -->
                    <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>Description About yourself</mat-label>
                        <input
                         [(ngModel)]= "user.discription"
                        name = "description"
                        
                        matInput placeholder="enter password">
                      </mat-form-field>

                    <!-- password field -->
                    <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>Github link</mat-label>
                        <input 
                        [(ngModel)] = "user.github"
                        name = "github"
                        matInput placeholder="enter password">
                      </mat-form-field>

                    <!-- password field -->
                    <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>Instagram link</mat-label>
                        <input 
                        [(ngModel)] = "user.instagram"
                        name = "instagram"
                        matInput placeholder="enter password">
                      </mat-form-field>

                      <div class="form-group">
                        <label for="img">Profile Picture</label>
                        <input type="file" id="img" name="img" (change)="onImageUpload($event)">
                        <!-- <input type="button" (click)="imageUploadAction()" value="Upload Image" class="btn1"> -->
                    </div>
            

                      <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left:20px" mat-raised-button color="accent" type="reset">Clear</button>
                      </div>
                </form>
              </mat-grid-tile>
              </mat-grid-list>
            </div>
     