<mat-card>
  <div class="bootstrap-wrapper">
      <div class="container-fluid">
          <h1 class="mt20">Available Quizzes</h1>
            <div class="row mt20" *ngIf="quizzes">
                <div class="col-md-5" *ngFor="let q of quizzes">
                  <mat-card class="mb20" style="border: 1px solid azure;">
                      <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>
                              {{q.title}}
                          </mat-card-title>
                          <mat-card-subtitle>
                           {{q.category.title}}
                          </mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                          <p class="truncate">{{q.description}}</p>
                      </mat-card-content>
                      <mat-card-actions>
  
                          <button mat-raised-button color="primary">View</button>
                          
                              <ng-container *ngIf="!hasUserCompletedQuiz(q.qId)">
                                <button mat-raised-button color="accent" 
                                [routerLink]="'/user-dashboard/instructions/'+q.qId"
                                  
                                  class="ml10">
                                  Start    
                                </button>
                              </ng-container>
                                                   
                            <button mat-raised-button color="accent" 
                            [routerLink]="'/user-dashboard/certificate/'+this.id"  
                              class="ml10" *ngIf="hasUserCompletedQuiz(q.qId)">
                               Certificate
                            </button>
                                  <button mat-raised-button color="primary" (click)="user()">Questions :{{q.numberOfQuestions}}</button>
                          <button mat-raised-button color="primary" >M.M :{{q.maxMarks}}</button>
                      </mat-card-actions>
                  </mat-card>
                </div>
  
                <div class="col-md-12" *ngIf="quizzes.length==0">
                  <mat-card>
                      <mat-card-content>
                          <h1>No data in this category </h1>
                      </mat-card-content>
                  </mat-card>
                </div>
            </div>
      </div>
  </div>
</mat-card>