<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<mat-card style="background-color: beige;">
    <h1>Meet Our Project Creative Team</h1>
    <mat-card style="background-color: ghostwhite;">
<div class="container">
<div class="row mt-n1-9">
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="team-style07">
                            <div class="team-thumb mb-1-9">
                                <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" alt="..."></div>
                                <div class="team-social">
                                    <ul class="styled-icons">
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="h5 mb-1"><a href="#!">Mr. Rakesh Gautam</a></h3>
                            <p class="mb-0">Project Guide</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="team-style07">
                            <div class="team-thumb mb-1-9">
                                <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle" alt="..."></div>
                                <div class="team-social">
                                    <ul class="styled-icons">
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="h5 mb-1"><a href="#!">Adarsh Srivastava</a></h3>
                            <p class="mb-0">Backend Developer</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="team-style07">
                            <div class="team-thumb mb-1-9">
                                <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle" alt="..."></div>
                                <div class="team-social">
                                    <ul class="styled-icons">
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="h5 mb-1"> <a href="#!">Anand Prakash</a></h3>
                            <p class="mb-0">FrontEnd Developer</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="team-style07">
                            <div class="team-thumb mb-1-9">
                                <!-- <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle" alt="..."></div> -->
                                <div class="thumb"><img src="../../../assets/pic.jpg" class="rounded-circle" alt="..."></div>
                                <div class="team-social">
                                    <ul class="styled-icons">
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="h5 mb-1"> <a href="#!">Jitendra Verma</a></h3>
                            <p class="mb-0">FrontEnd Developer</p>
                        </div>
                    </div>
                </div>
</div>
</mat-card>
</mat-card>