
/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'verdana';
}
main{
    margin-top: 15px;
	background-color: #dceffe;
	padding: 2rem 1.5rem;
	min-height: calc(20vh);
}
.cards{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	margin-top: 1rem;
}
.card-single{
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 10%);
}
.card-single span:first-child{
	color: #0ab10d;
}
.card-single span:last-child{
	font-size: 3rem;
}
.card-single small{
	color: rgb(216, 34, 34);
    font-weight: bold;
    font-size: 20px;
}
.card-single:hover{
	background-color: #ade2e9;
	color: #fff;
}

@media only screen and (max-width: 960px){
	.cards{
		grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 768px){
	.cards{
		grid-template-columns: 100%;
	}
}
@media only screen and (max-width: 560px){
	.cards{
		grid-template-columns: 100%;
	}
}

.table{
	background-color: #fff;
	border: 10px;
}
.table-responsive{
	background:#c4d9ea;
	border: 1px solid ;
}
caption{
	color: black;
	font-size: 30px;
	font-weight: 500;
	border: 1px solid black;
}
/* Right box */
.title{
	color: black;
	font-size: 20px;
	font-weight:bold;
}
.home-section{
	border-radius: 1px solid red;
	padding-top: 3px;
	padding-bottom: 3px;
}
.home-content .sales-boxes .top-sales{
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .top-sales li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .top-sales li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .top-sales li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Responsive Media Query */
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
   .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
  @media (max-width: 400px) {
  .home-section{
    width: 100%;
    left: 0;
  }
}

