<h1 > Leaderboard Quiz Mania</h1>
<mat-form-field appearance="fill">
  <mat-label>Categories</mat-label>
  <mat-select  required>
    <mat-option >--</mat-option>
    
    <mat-option  (click)="Quiz(categorie.cid)" *ngFor="let categorie of category" [value]="categorie" >
      {{categorie.title}}
    </mat-option>
  </mat-select>
  <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
  <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Quiz</mat-label>
  <mat-select  required>
    <mat-option >--</mat-option>
    <mat-option (click)="Leaderboard(quiz.qId)" *ngFor="let quiz of quizzes" [value]="quiz">
      {{quiz.title}}
    </mat-option>
  </mat-select>
  <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
  <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
</mat-form-field>
<mat-table class="mat-elevation-z8"  *ngFor="let leaders of leader;let i=index">
    <!-- Position Column -->
    <ng-container matColumnDef="position" >
      <mat-header-cell *matHeaderCellDef  > {{i+1}} </mat-header-cell>
    
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name" >
      <mat-header-cell *matHeaderCellDef >{{leaders.user.username}} </mat-header-cell>
     
    </ng-container>
  
    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> {{leaders.score}} </mat-header-cell>
     </ng-container>
  
    <!-- Date Column -->
    <!-- <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container> -->
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class="container text-center">
  <button  class="mt10" mat-raised-button color="primary"  > Load more </button>
</div>