<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<mat-card>
<section class="side">
    <img src="../../../assets/img.svg" alt="">
</section>

<section class="main">
    <div class="login-container">
        <img class="img1"src="../../../">
        <p class="title">Welcome</p>
        <div class="separator"></div>
        <p class="welcome-message">Please, provide login credential to proceed and have access to all our services</p>

        <form class="login-form" (ngSubmit)="formSubmit()" action="">
            <div class="form-control">
                <input type="text" [(ngModel)]="userloginData.username"
                name="username"
                required placeholder="Username">
                <i class="fas fa-user"></i>
            </div>
            <div class="form-control">
                <input [(ngModel)]="userloginData.password"
                name="password"
                 required
                 type="password" placeholder="Password">
                <i class="fas fa-lock"></i>
            </div>
                <h6>Having Trouble in sign in?</h6>  <button class="submit" (click)="handleForgetAction()">Forget</button>
                <div class="container text-center">
                    <button class="submit" type="submit">Login</button>
                     <button class="submit" type="reset" style="margin-left:20px">Reset</button>
                  </div>
            <hr>
            <div class="first">
                <h3> Don't you have account?</h3>
             </div>
             <button [routerLink]="'/signup'"   class="signup" >Create Account</button>
                <!-- <div class="signup">  <a
                [routerLink]="'/signup'"
                 mat-raised-button color="primary">
                  Create Account
                </a> -->
             
        </form>
    </div>
</section>
</mat-card>