/* .full-width{
    width: 100%;
}
h1{
    text-align: center;
}
.login{
    text-align: center;
    background-color: antiquewhite;
    margin-left: 20px;
    
}
*/
/* .signup{
    text-align: center;
    margin-left: 219px;
    width: 150px;
    margin-top: -50px;
} */
/* .first{
    text-align: center;
    width: 181px;
    
    margin-top: 2pc;
   
}  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #303433;
}

u{
    color: blue;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.invalid-input{
    color: red;  
}
.submit:disabled{
    color:deeppink;
    cursor: not-allowed;
    padding: 10px ;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #a1e8d1, #7383b7);
    transition: opacity 0.4s;
}
.p1{
    margin: 0px;
}
mat-card{
    min-height: 95vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
}

.signup{
    text-align: right
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.side {
    background: url(../../../assets/bk.png) no-repeat;
    background-size: 100% 102%;
}

.img1{
    width: 100px;
}
.side img {
    width: 50%;
    max-width: 50%;
}

.login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #843bc7;
    margin: 24px;
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #f33cb0;
    transition: color   0.4s;
    font-size: 20px;
}

input:focus ~ i {
    color: #843bc7;
}

button.submit {
    color: #fff;
    /* padding: 14px 64px;
    margin: 32px auto; */
    padding: 10px ;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
}

button.submit:hover {
    opacity: 0.9;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

    mat-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        display: none;
    }
}