<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<mat-card>
<section class="side">
    <img src="../../../assets/img.svg" alt="">
</section>

<section class="main">
    <div class="login-container">
        <img class="img1"src="../../../assets/avatar.svg">
        <p class="title">Welcome</p>
        <div class="separator"></div>
        <p class="welcome-message">Please, provide login credential to proceed and have access to all our services</p>

        <form class="login-form" (ngSubmit)="formSubmit()" action="" #userLogin="ngForm">
            <div class="form-control">
                <input type="text" [(ngModel)]="userloginData.username"
                name="username"
                required 
                #username = "ngModel"
                minlength="4" maxlength="20"
                placeholder="enter username"
                >
                <i class="fas fa-user"></i>
            </div>
            <p class="p1"><span class="invalid-input" *ngIf="username.invalid && (username.touched || username.dirty || username.errors?.['minlength'])">Please Enter Valid Username</span></p>

            <div class="form-control">
                <input [(ngModel)]="userloginData.password"
                name="password"
                 required
                 [type]="changetype?'password':'text'"
             placeholder="enter your Password"
                 #password="ngModel"  >
                 <i (click)="viewpass()" [ngClass]="visible?'fas fa-lock':'fas fa-eye-slash'"></i>
            </div>
            <!-- <p class="p1"><span class="invalid-input" *ngIf="password.invalid && (password.touched || password.dirty || password.errors?.['minlength'] || password.errors?.['pattern'])">Please Enter Valid Password</span></p> -->
                <h6>Having Trouble in sign in?<a  (click)="handleForgetAction()" type="forgot"><u> Forget</u></a> </h6> <br>
                <div class="container text-center">
                    <button [disabled]="userLogin.invalid" class="submit" type="submit">Login</button>
                     <button class="submit" type="reset" style="margin-left:20px">Reset</button>
                     <!-- <button class="submit" type="forgot" style="margin-left:20px">Forgot</button> -->
                  </div>
            <hr>
            <div class="first">
                <h3> Don't you have account?</h3>
             </div>
            <button class="submit" [routerLink]="'/signup'" style="margin-left: 180px;">Create Account</button>
        </form>
    </div>
</section>
</mat-card>