<mat-card>   <mat-action-list>
        <div mat-subheader> Available Categories</div>
        <button mat-list-item routerLink="/user-dashboard/0">
         All Quizzes
        </button>
        <button [routerLink]="'/user-dashboard/'+c.cid"
            mat-list-item *ngFor="let c of categories">
         {{c.title}}
        </button>

        
<!-- <button  [routerLink]="'/user-dashboard/profile'">
    profile
</button> -->

<!-- <button mat-list-item routerLink="/user-dashboard/update">
    <mat-icon mat-list-icon>update</mat-icon>
    Update profile Image
   </button> -->

    </mat-action-list>
</mat-card>
<!-- {{categories | json}} -->
