<!-- <button (click)="scrollToTop()" *ngIf="showScrollButton">Scroll to top</button> -->

<!-- <div class="leader">
<button mat-raised-button color="primary"mat-button [matMenuTriggerFor]="menu">Leaderboard</button>
<mat-menu #menu="matMenu" xPosition="before">
	<button mat-menu-item [matMenuTriggerFor]="quiz">Categories</button>
	<button mat-menu-item>Quiz</button>
</mat-menu>
<mat-menu #quiz="matMenu">
	<button>Quiz</button>
</mat-menu>
</div> -->
<!-- <ngb-carousel >
	<ng-template ngbSlide>
		<div class="carousel">
			<img src="../../../assets/launching soon.png" alt="Random first slide" />
		</div>
		<div class="carousel-caption"> -->
			<!-- <h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
		<!-- </div>
	</ng-template> -->
	<!-- <ng-template ngbSlide>
		<div  class="carousel">
			<img src="../../../assets/20230228_132141_0000.png" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div  class="carousel">
			<img src="../../../assets/20230228_131607_0000.png" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template> -->
<!-- </ngb-carousel> -->
<!-- <hr> -->

  <mat-card class="first">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/quiz-4.png" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="../../../assets/quiz-5.png" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="../../../assets/quiz1.png" class="d-block w-100" alt="..." >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </mat-card>

  <mat-divider></mat-divider>

<!-- why choose us -->

<div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>Why Choose</span> Us?</h4>
          <p>When you choose us, you'll Experience the excitement of quizzes, simplified with Quiz Mania's user-friendly design.Because we know the digital world and we know that how to handle it. With working knowledge of online and social media.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><img src="../../../assets/User.png"></span>
            <h6>User</h6>
            <p>"Have fun with a wide variety of quizzes on different topics and compete leaderboard."</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><img src="../../../assets/why choose2.jpeg"></span>
            <h6>Secure System</h6>
            <p>"Protecting your data and ensuring a safe quiz-taking experience with Quiz Mania's secure system."</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><img src="../../../assets/why choose1.png"></span>
            <h6>Certificate Generate</h6>
            <p> "Recognize your achievements with ease - Generate your certificate with Quiz Mania."</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><img src="../../../assets/leaderboard.jpg"></span>
            <h6>Leaderboard</h6>
            <p> "Track your progress and compete with others using Quiz Mania's interactive leaderboard."</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><img src="../../../assets/why choose 5.png"></span>
            <h6>E-Mail Support</h6>
            <p> "Providing E-mail support to Contact us for any issues related to the quiz platform or quiz content."</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><img src="../../../assets/quiz.png"></span>
            <h6>FAQ's Support</h6>
            <p> "Providing FAQ's support to Aware you for type of question asked in quiz exam."</p>
          </div>
        </div>
         </div>
    </div>
  </div>

  <mat-divider></mat-divider>

<!-- demo certificate -->

<div class="col">
  <div class="head  col-sm-12">
    <h4><span>Demo</span> certificate</h4>
    <div  >
      <div class="certificate" >
        <div class="icon feature_box_col_one"><img src="../../../assets/Demo Certificate.jpg">
        </div>
        <div class="third">
          <p>Completion certification awarded   </p>
          <P>  on every quiz Completion </P>
          <h4>Get Certificate on every Quiz Completion when elgibility criteria meet. </h4>
        </div>
      </div>
    </div>
  </div>
    </div>

<mat-divider></mat-divider>
<app-faq></app-faq>
<mat-divider></mat-divider>
<app-contactus></app-contactus>
<mat-divider></mat-divider>

  <!-- meet my team -->
<mat-card style="background:azure;">
  <div class="col">
    <div class="main">
      <div class="meet col-sm-6">
        <h4 ><span>Meet </span> Our Team</h4>
            <p>Bringing knowledge to life, one quiz at a time - Meet our Quiz Mania Team!"</p>
      </div>
      <div class="profile">
    <div class="profile-card">
      <div class="img">
        <img src="../../../assets/Quiz Maniaa.png">

      <div class="caption">
        <h3>Adarsh Srivastava</h3>
        <p>Back-end developer using springboot </p>
      <div class="social-link">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
      </div>
      </div>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="../../../assets/Quiz Maniaa.png">

    <div class="caption">
      <h3>Anand prakash Singh</h3>
      <p>Front-end developer using Angular </p>
    <div class="social-link">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
    </div>
  </div>
</div>
<div class="profile-card">
  <div class="img">
    <img src="../../../assets/pic.jpg">

  <div class="caption">
    <h3>Jitendra Verma</h3>
    <p>Front-end developer using Angular </p>
  <div class="social-link">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
  </div>
</div>
</div>
</div>
</div>

<div class="button">
  <a href="#top"><i class="fas fa-arrow-up"></i></a>
</div>
</div>
</mat-card>

<mat-divider></mat-divider>
  <app-footer></app-footer>


