<ngb-carousel >
	<ng-template ngbSlide>
		<div class="carousel">
			<img src="../../../assets/lunching soon.png" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div  class="carousel">
			<img src="../../../assets/20230228_132141_0000.png" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div  class="carousel">
			<img src="../../../assets/20230228_131607_0000.png" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>

<app-faq></app-faq>

<hr>



<app-footer></app-footer>