


<!-- <div class="leader">
<button mat-raised-button color="primary"mat-button [matMenuTriggerFor]="menu">Leaderboard</button>
<mat-menu #menu="matMenu" xPosition="before">
	<button mat-menu-item [matMenuTriggerFor]="quiz">Categories</button>
	<button mat-menu-item>Quiz</button>
</mat-menu>
<mat-menu #quiz="matMenu">
	<button>Quiz</button>
</mat-menu>
</div> -->
<ngb-carousel >
	<ng-template ngbSlide>
		<div class="carousel">
			<img src="../../../assets/launching soon.png" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<!-- <h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
		</div>
	</ng-template>
	<!-- <ng-template ngbSlide>
		<div  class="carousel">
			<img src="../../../assets/20230228_132141_0000.png" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div  class="carousel">
			<img src="../../../assets/20230228_131607_0000.png" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template> -->
</ngb-carousel>
<hr>




<!-- why choose us -->

<div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>Why Choose</span> Us?</h4>
          <p>When you choose us, you'll Experience the excitement of quizzes, simplified with Quiz Mania's user-friendly design.Because we know the digital world and we know that how to handle it. With working knowledge of online and social media.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><img src="../../../assets/why choose1.png"></span>
            <h6>Certificate Generate</h6>
            <p>Recognize your achievements with ease - Generate your certificate with Quiz Mania.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><img src="../../../assets/why choose2.jpeg"></span>
            <h6>Secure System</h6>
            <p>Protecting your data and ensuring a safe quiz-taking experience with Quiz Mania's secure system.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><img src="../../../assets/why choose 3.jpeg"></span>
            <h6>24 x 7 Technical Support</h6>
            <p> Providing technical support for any issues related to the quiz platform or quiz content.</p>
          </div>
        </div>
         </div>
    </div>
  </div>

  <app-faq></app-faq>
  <hr>
  <app-contactus></app-contactus>
<app-footer></app-footer>
