<mat-card>
  <mat-card style="background-color:
  blanchedalmond;">
<div class="row mt20">
  <div class="col-md-6">
    <div class="bg" id="printableContent">
     <div  class="first">
      {{leader[0].user.firstName}} {{leader[0].user.lastName}}
    </div>
    <div class="second">
    <p>    for their impressive score of <b>{{leader[0].score}}</b> out of {{leader[0].quiz.maxMarks}} in the Quiz <b>{{leader[0].quiz.title}}</b>  of category <b> {{leader[0].quiz.category.title}} </b>, reflecting their knowledge and expertise in the subject matter.</p>
    </div>
    <div class="third">
      <h3>Anand Prakash Singh</h3>
    </div>
    <div class="fourth">
    <h3>{{ onlineDate | date:'shortDate' }}</h3>
    </div>
    </div>

    <mat-card-actions class="text-center">

      <button (click)="printPage()" mat-raised-button color="primary">Get in Mail</button>
      <button (click)="Mail()" mat-raised-button color="primary">Download</button>
      <button  mat-raised-button color="accent"
          [routerLink]="'/user-dashboard/0'">Back To Home
      </button>
  </mat-card-actions>
  </div>


</div>
</mat-card>
</mat-card>
