.bg{
  background-image:url(../../../assets/certificate.jpg);
  background-repeat: no-repeat;
background-size: 816px;


width: 820px;
height: 580px;

}
.pa{
text-align: center;
}
.first{
width: 600px;
height: 49px;
position: relative;
top: 230px;

text-align: center;

margin-left: 120px;

font-size: xxx-large;
font-family: -webkit-body;
padding: 23px;
}
.second{
width: 580px;
height: 95px;
position: relative;
top: 259px;

text-align: center;
margin-left: 100px;
font-size: large;
font-family: -webkit-body;
padding: 13px;


}
.third{
width: 230px;
height: 60px;
position: relative;
top: 305px;
text-align: center;
margin-left: 125px;
font-size: large;
font-family: -webkit-body;
font-weight: bold;
padding: 13px;


}
.fourth{
width: 110px;
height: 45px;
position: relative;
top: 215px;

text-align: center;
margin-left: 542px;
font-size: large;
font-family: -webkit-body;
font-weight: bold;
padding: 15px;


}