
<div class="row mt20">
  <div class="col-md-6 offset-md-3">
    <div class="bg">
     <div  class="first">
      Anand praksh signh s    
   
    </div>
    <div class="second">
    <p>    for their impressive score of [10/100]% in the [Java programming langulage], reflecting their knowledge and expertise in the subject matter.</p>
    </div>
    <div class="third">
      <h3>Anand PRaksh Singhd</h3>
    </div>
    <div class="fourth">
    <h3>{{ onlineDate | date:'shortDate' }}</h3>
    </div>
  </div>
</div>