h1{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 10px;
}
h2{
    margin:20px;
    text-align: center;
    font-weight:400;
    font-size: x-large;
    font-weight: bold;
}
/* h3{
    text-align: center;
} */
.cont{
    
    width:70%;

    
}
img{
    
    height:100%;
}
.button{
    word-spacing: 20px;
}
mat-label{
    font-weight: bold;
}
mat-form-field{
    font-weight: bolder;
    font-size: medium;
}