.mat-toolbar{
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
    color: white;
    background: lightcoral;
}
.spacer{
    width: 300px;
}
.user{
    width: 600x;
}

mat-form-field{
    padding: 5px;
}
