<mat-toolbar color="primary">
<mat-toolbar-row fxLayout="row">
    <span>Forget Password?</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mar-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar-row>

</mat-toolbar>
<mat-dialog-content class="mat-typography" >
    <form [formGroup]="forgetPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex *ngIf="!flag3">
                
                <mat-label class="user">Enter Username</mat-label>
                <input matInput formControlName="username" required>
                <mat-error *ngIf="forgetPasswordForm.controls.username.touched && forgetPasswordForm.controls.username.invalid">
                    <span *ngIf="forgetPasswordForm.controls.username.error.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" fxFlex *ngIf="flag">
                
                <mat-label class="user">Enter otp</mat-label>
                <input matInput formControlName="otp" required>
                <mat-error *ngIf="forgetPasswordForm.controls.otp.touched && forgetPasswordForm.controls.otp.invalid">
                    <span *ngIf="forgetPasswordForm.controls.otp.error.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" fxFlex *ngIf="flag2">
                
                <mat-label class="user">Change Password</mat-label>
                <input matInput formControlName="chPass" >
                <mat-error *ngIf="forgetPasswordForm.controls.chPass.touched && forgetPasswordForm.controls.chPass.invalid">
                    <span *ngIf="forgetPasswordForm.controls.chPass.error.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" fxFlex *ngIf="flag2">
                
                <mat-label class="user">Confirm Password</mat-label>
                <input matInput formControlName="coPass" >
                <mat-error *ngIf="forgetPasswordForm.controls.coPass.touched && forgetPasswordForm.controls.coPass.invalid">
                    <span *ngIf="forgetPasswordForm.controls.coPass.error.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>

        </div>

    </form>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" *ngIf="!flag3" (click)="handleSubmit(); " [disabled]="!forgetPasswordForm.touched">
        send
    </button>
    <button mat-raised-button color="primary" type="submit" *ngIf="flag" (click)="handleValidate(); flag4()" [disabled]="!forgetPasswordForm.touched">
        Submit otp
    </button>
    <button mat-raised-button color="primary" type="submit" *ngIf="flag2" (click)="handleChangePassword(); " [disabled]="!forgetPasswordForm.touched">
        Change Password
    </button>
</mat-dialog-actions>