
.example-spacer{
  flex: 1 1 auto;
 
}
/*
.color
{
background-color:#cd6301;
} */
.mr20{
margin-right: 40px;
}
.quiz{
  font-weight: 600;
  font-size: 28px;
  color: red;
  cursor: pointer;
}

.profile-image{
  max-height: 40px;
  max-width: 40px;
  border: 2px solid #ff4081;
  border-radius: 50%;
} 
h3{
  color: black;
}
.logo-image {
  height: 40px;
  width: 30px;
  margin-right: 15px;
  border-top-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
} 
nav{
display: flex;
height: 50px;
width: 100%;
background:linear-gradient(to right,#c0c0aa,#e3f2fd);
/* background:linear-gradient(to right,#00c3ff,#ffff1c); */
align-items: center;
justify-content: space-between;
padding: 0 50px 0 100px;
flex-wrap: wrap;
}
nav .logo{
color: #fff;
font-size: 35px;
font-weight: 600;
}
nav ul{
display: flex;
flex-wrap: wrap;
list-style: none;
font-size: 30px;
}
nav ul li{
margin: 0 5px;
}
nav ul li a{
/* color: #5e5e5e; */
color: black;
text-decoration: none;
font-size: 16px;
font-weight: 500;
padding: 8px 15px;
border-radius: 5px;
letter-spacing: 1px;
transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
color:blue;

}
nav .menu-btn i{
color: #fff;
font-size: 22px;
cursor: pointer;
display: none;
}
input[type="checkbox"]{
display: none;
}
@media (max-width: 1000px){
nav{
  padding: 0 40px 0 50px;
}
}
@media (max-width: 920px) {
nav .menu-btn i{
  display: block;
}
#click:checked ~ .menu-btn i:before{
  content: "\f00d";
}
nav ul{
  position: absolute;
  
  top: 50px;
  left: -100%;
  opacity: 0.9;
  background: #e3f2fd;
  height: 80vh;
  width: 100%;
  text-align: center;
  display: block;
  transition: all 0.3s ease;
  z-index: 999;
}
#click:checked ~ ul{
  left: 0;
}
nav ul li{
  width: 100%;
  margin: 40px 0;
}
nav ul li a{
  width: 100%;
  margin-left: -100%;
  display: block;
  font-size: 20px;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#click:checked ~ ul li a{
  margin-left: 0px;
}
nav ul li a.active,
nav ul li a:hover{
  background: none;
  color: cyan;
}
}
.content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
z-index: -1;
width: 100%;
padding: 0 30px;
color: #1b1b1b;
}
.content div{
font-size: 40px;
font-weight: 700;
}

.button a{
position: fixed;
bottom: 5px;
right: 10px;
color: #fff;
background: #6087a0;
opacity: 0.7;
padding: 7px 12px;;
font-size: 18px;
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.15);
}
