<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />


<!-- <p>footer works!</p> -->
<!-- <div class="body">
<footer class="footer">
  

    <div class="row">
      <div class="col">
        <img src="../../../assets/Quiz Maniaa.png" class="logo">
        <h3>About Quiz Mania</h3>
        <p class="about">Quiz Mania is a platform where users can </p>
        <p> participate  in quizzes, earn certificates for </p> 
        <p> their performance, and view their rankings on  a leaderboard.</p>
      </div>
      <div class="col">
        <h3>Contact<div class="underline"><span></span></div></h3>
        <p>KNIPSS college Sultanpur</p>
          <p> PIN 228001, INDIA</p>
        <p class="email-id">quizmania007@gmail.com</p>
      <p>Phone: 123-456-7890</p>
       
      </div>
      <div class="col">
        <h3>Links <div class="underline"><span></span></div></h3>
        <ul>
          <li><a  href="#top"  >HOME</a></li>
          <li><a [routerLink]="'/login'">LOGIN</a></li>
          <li><a href="#FAQs">FAQs</a></li>
          <li><a href="#contact">CONTACT US</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Follow Us <div class="underline"><span></span></div></h3>
        <a href="https://www.facebook.com/" ><img src="../../../assets/facebook.png" class="social-icon">  </a>
        <a href="https://www.instagram.com/" ><img src="../../../assets/instagram.png" class="social-icon">  </a>
        <a href="https://twitter.com/?lang=en-in" ><img src="../../../assets/twitter.png" class="social-icon">  </a>
       </div>
    </div>
    <hr>
    <p class="copyright"> &copy; 2023 My Website , All Right Reserved. designed by Angular </p>
    
  </footer>
</div> -->
<mat-card style="background-color: rgb(135, 222, 139);">
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>&nbsp;
          <span class="logo_name">Quiz Mania</span>
        </div>
        <div class="media-icons">
          <a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
          <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
          <a href="http://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
          <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#FAQs">FAQs</a></li>
          <li><a href="#contact">CONTACT US</a></li>
          <li><a [routerLink]="'/login'">LOGIN</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App design</a></li>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Logo design</a></li>
          <li><a href="#">Banner design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Account</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Prefrences</a></li>
          <li><a href="#">Purchase</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Address</li>
          <li><a href="#"> <span class="fas fa-map-marker-alt"></span>&nbsp; Faridipur, Sultanpur</a></li>
          <li><a href="#"><span class="fas fa-phone-alt"></span>&nbsp; +91-8707585463</a></li>
          <li><a href="#"><span class="fas fa-envelope"></span>&nbsp; abcd@hmail.com</a></li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="button" value="Subscribe"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021 <a href="#">CodingLab.</a>All rights reserved</span>
        <span class="policy_terms">
          <a href="#">Privacy policy</a>
          <a href="#">Terms & condition</a>
        </span>
      </div>
    </div>
  </footer>
</mat-card>