<!-- <p>footer works!</p> -->
<div class="body" id="footer">
<footer class="footer">


    <div class="row">
      <div class="col">
        <!-- <img src="../../../assets/Quiz Maniaa.png" class="logo"> -->
        <h3>About Quiz Mania</h3>
        <p class="about">Quiz Mania is a platform where users can </p>
        <p> participate  in quizzes, earn certificates for </p>
        <p> their performance, and view their rankings</p>
        <p> on a leaderboard.</p>
      </div>
      <div class="col">
        <h3>Contact<div class="underline"><span></span></div></h3>
        <p>Kamla Nehru Institute Of Physical And </p>
        <p>Social Sciences ,Sultanpur (UP),</p>
          <p>INDIA-228119</p>
        <p class="email-id">quizmania007@gmail.com</p>
      <!-- <p>Phone: 123-456-7890</p> -->

      </div>
      <div class="col">
        <h3 >   Links <div class="underline"><span></span></div></h3>
        <ul>
          <li><a  href="#top"  >HOME</a></li>
          <li><a [routerLink]="'/login'">LOGIN</a></li>
          <li><a [routerLink]="'faq'">FAQs</a></li>
          <li><a href="#contact">CONTACT US</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Follow Us <div class="underline"><span></span></div></h3>
        <a href="https://www.facebook.com/" ><img src="../../../assets/facebook.png" class="social-icon">  </a>
        <!-- <mat-icon class="ml100">facebook</mat-icon> -->
        <a href="https://www.instagram.com/" ><img src="../../../assets/instagram.png" class="social-icon">  </a>
        <a href="https://twitter.com/?lang=en-in" ><img src="../../../assets/twitter.png" class="social-icon">  </a>
       </div>
    </div>
    <hr>
    <p class="copyright"> <i class="fa fa-copyright" aria-hidden="true"></i>  2023 Quiz Mania , All Right Reserved & Created by Adarsh and team. </p>






</footer>
</div>


