<!-- <p>footer works!</p> -->
<footer class="footer">
  

    <div class="row">
      <div class="col-md-4">
        <h3>About Quiz Mania</h3>
        <p>Quiz Mania is a fun and educational quiz game designed to test your knowledge in a variety of topics.
         The platform allows users to create their own quizzes and share them with others, making it an interactive
         and engaging experience for everyone.Users can also earn points and badges for their achievements, adding 
         a competitive element to the platform.</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>Email: anand@gmail.com<br>Phone: 123-456-7890<br>Address: hunhaar college sultanpur</p>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
        <a href="https://www.facebook.com/" class="social-icon" src="../../../assets/facebook.png"><i class="fab fa-facebook"></i>  </a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  <div class="color footer-menu">
    <p>&copy; 2023 My Website , All Right Reserved. designed by Angular 
      <a [routerLink]="'/faq'">FQAs</a>
        <a href="">Cookies</a>
        <a href="">Help</a>
        <a href="">Home</a>
        
    </p>
     
 
        
  </div>

</footer>



