
.body {
  background:#eef8ff ;
} 

  .footer { 
  /* background-color:  #ffcb65; */
 
  background: linear-gradient(to right, #00093c,#2d0b00);
  color:#fff;
  bottom:o;
  border-top-left-radius:125px;
  padding:20px 0 30px;
  font-size:13px;
line-height:20px;
  }
.row {
  width:85%;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
justify-content:space-between;
}

.col{
  flex-basis:25%;
  padding:10px;

}
.col:nth-child(2),.col:nth-child(3){
  flex-basis:20%;
}
.col h3{
  width:fit-content;
  margin-bottom:15px;
  position:relative;
  margin-left:30px;
}
.email-id{
  width:fit-content;
  border-bottom:1px solid #ccc;
  margin:20px 0;
  
}
.email-id:hover{
  background-color: white;
  color:black;
  
}
ul li{
  list-style:none;
  margin-bottom:12px;
}
ul li a{
  text-decoration:none;
  color:white;


}
ul li :hover{
   /* background-color: #fff;
  color: #333; */
  border-bottom:3px solid #ccc;
}


.logo{
  width:70px;
  margin-bottom:20px;

}
.copyright{
  text-align:center ;
}

.about{
  width:fit-content;
  text-align: justify;
}
.underline{
  width:100%;
  height:5px;
  background:#767676;
  border-radius: 3px;
  position: absolute;
  top:30px;
  left:0;
  overflow: hidden;
}
.underline span{
  width:15px;
  height:100%;
  background:red;
  border-radius: 3px;
  position: absolute;
  top:0;
  left:10px;
  animation: moving 1.5s linear infinite;

}
@keyframes moving{
  0%{
    left:-20px;
  }
100%{
  left:100%;
}
}

@media(max-width:920px)
{
  .footer{
    bottom: unset;
    padding:auto;
    font-size: 10px;
  }
  
  
  
  
  .col{
    flex-basis:100%;
   
  
  }
  .col:nth-child(2),.col:nth-child(3){
    flex-basis:100%;
  }

}
  


/* .container{
  background-image: url(../../../assets/homepagequiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color:#f9f7dc ;
  padding:50px 0;
} */
/* 
h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 15px;
  line-height: 1.0;
} */

.social-icon {
  display: inline-block;
  color: #fff;
  height: 50px;
  width: 45px;
  margin-right: 30px;
  margin-left: 10px;
  padding:3px;
 
 
}

.social-icon:hover {
  background-color: #fff;
  color: #333;
}
/* 
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}


 */


