<mat-card *ngIf="user">
    <h1>Your Profile Details</h1>
    <!-- {{user | json}} -->
    <mat-card-content>

        <div class="bootstrap-wrapper">
            
            <div class="container">
                <div class="container text-center">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.9UBb9jEPJ74wxTL1FgBuWwAAAA&pid=Api&P=0" 
                    alt=""
                    class="profile-image">
                    <h1 class="mt20">{{ login.getUser().firstName }} {{ login.getUser().lastName }}</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- //tables details -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{login.getUser().username}}</td>
                            </tr>
                            <tr>
                                <td>Userid</td>
                                <td>EXAM{{login.getUser().id}}</td>
                            </tr>
                            <tr>   <!--*ngIf="user.phone" => used if moblie number is null-->
                                <td>Phone</td>
                                <td>{{login.getUser().phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{login.getUser().authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{login.getUser().enabled?"ACTIVE":"NOTACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
</mat-card>