
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  <mat-card *ngIf="user">
    <h1>Your Profile Details</h1>
    <hr class="my-4">
    <mat-card-content>
    <div class="container">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">

                                <!-- class="rounded-circle p-1 bg-primary"  -->
                                <img  *ngIf="!dbImage" src="../../../assets/logo.png"
                                alt="Admin"
                                class="img-radius" width="110">
                                <div  class="user-image">

                                        <!-- <img [src]="dbImage"  class="profile-image" > -->
                                        <img [src]="dbImage"   class="img-radius" width="110" >

                                </div>
								<!-- <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
                                class="rounded-circle p-1 bg-primary" width="110"> -->


								<div class="mt-3">
                                    <!-- <h4>John Doe</h4> -->
                                    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                                    <p class="text-muted">{{login.getUser().authorities[0].authority}} | {{login.getUser().id}} | Status-{{login.getUser().enabled?'ACTIVE':'NOTACTIVE'}}</p>
									<p class="text-secondary mb-1">Full Stack Developer</p>
									<p class="text-muted font-size-sm">Banglore, Karnataka India, SI</p>
									<!-- <button class="btn btn-primary">Follow</button>&nbsp;
									<button class="btn btn-outline-primary">Message</button> -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github me-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram me-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
								</div>
							</div>
							<hr class="my-4">

                            <h3 class="header-title mt-0">Personal Information</h3>
                                <p class="text-muted">
                                    {{user.discription}}
                                    <!-- Hye, I’m Jitendra Vermn residing in this beautiful world. I create websites and mobile apps with great UX and UI design. I have done work with big companies like Nokia, Google and Yahoo. Meet me or Contact me for any queries. One Extra line for filling space. Fill as many you want. -->
                                </p>
                             <hr class="my-4">

                            <mat-card style="background-color: rgb(249, 245, 245);" *ngIf="login.getUser().authorities[0].authority!='ADMIN'&&login.getUser().authorities[0].authority!='COORDINATOR'" >
                            <h1>Total number of quiz attempted <span style="color: darkorchid;">{{ user.firstName }} {{ user.lastName }}</span> : {{i}}</h1>
                            </mat-card>
						</div>
					</div>
				</div>

				<div class="col-lg-8">
					<div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h3 class="mb-0">Full Name</h3>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{user.username}}">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h3 class="mb-0">Phone</h3>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{user.phone}}">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h3 class="mb-0">Email</h3>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{user.email}}">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h3 class="mb-0">Role</h3>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{login.getUser().authorities[0].authority}}">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h3 class="mb-0">Status</h3>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
                                    value="{{login.getUser().enabled?'ACTIVE':'NOTACTIVE'}}">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary">
								 <button *ngIf="login.getUser().authorities[0].authority=='NORMAL'"
                                [routerLink]="'/user-dashboard/pro/'+login.getUser().username"
                                 mat-flat-button color="accent">Update</button>
                                 <button *ngIf="login.getUser().authorities[0].authority=='ADMIN'"
                                 [routerLink]="'/admin/pro/'+login.getUser().username"
                                  mat-flat-button color="accent">Update</button>
                                  <button *ngIf="login.getUser().authorities[0].authority=='COORDINATOR'"
                                  [routerLink]="'/coordinator/pro/'+login.getUser().username"
                                   mat-flat-button color="accent">Update</button>
								</div>
							</div>
						</div>
					</div>

                    <div class="row" *ngIf="login.getUser().authorities[0].authority!='ADMIN'&&login.getUser().authorities[0].authority!='COORDINATOR'">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
                                    <h3 align="center">User Activity</h3>
                                    <hr class="my-2">
                                    <mat-table class="mat-elevation-z8" [dataSource]="leader">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef class="same">Sr. No.</mat-header-cell>
      <mat-cell *matCellDef="let i = index; let leaders" class="same1">
       {{i+1}}
      </mat-cell>
    </ng-container>

    <!-- category -->
    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef class="same"> category </mat-header-cell>
        <mat-cell *matCellDef="let leaders" class="same1"> {{ leaders.quiz.category.title}} </mat-cell>
      </ng-container>

      <!-- quizzes -->
      <ng-container matColumnDef="quiz">
        <mat-header-cell *matHeaderCellDef class="same"> quiz </mat-header-cell>
        <mat-cell *matCellDef="let leaders" class="same1"> {{ leaders.quiz.title }} </mat-cell>
      </ng-container>



    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="same"> Name </mat-header-cell>
      <mat-cell *matCellDef="let leaders" class="same1"> {{ leaders.user.username }} </mat-cell>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef class="same"> Score </mat-header-cell>
      <mat-cell *matCellDef="let leaders" class="same1"> {{ leaders.score }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  </mat-table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

</mat-card-content>
  </mat-card>
