<div class="container">
    <h1>Profile Image Update</h1>
    <br>
    <form class="text-center">
        <div class="form-group">
            <input type="file" (change)="onImageUpload($event)">
            <input type="button" (click)="imageUploadAction()" value="Upload Image" class="btn1">
        </div>


        <div>
            <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
        </div>
        <br>

        <div class="form-group">
            <!-- <input type="text" id="image" placeholder="Search Image" [(ngModel)]="image" name="image" /> -->
            <input type="button" (click)="viewImage()" value="See Profile Image " class="btn1">

        </div>

        <div class="container text-center">
        <div *ngIf=dbImage>
            <img [src]="dbImage"  class="profile-image">
        </div>
        </div>

    </form>
</div>